

.login-form-container {
  position: absolute;
  left: 0;
  width: 31.125rem;
  margin: 9rem 51.313rem 9.063rem 7.5rem;
}

.form-title {
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 2.125rem;
  line-height: 2.438rem;
}

.form-subtitle {
  margin-bottom: 2.5rem;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 1.625rem;
}

.login-form-wrapper label {
  font-family: "Asap", sans-serif;
  color: #9ec2f6;
  font-style: normal;
  font-size: 1rem;
}

.username-field {
  font-size: 1rem;
  margin-bottom: 1.25rem;
  width: 31.125rem;
  height: 56px;
}

.senha-field {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.submit-btn {
  height: 3rem;
  background-color: #5594EF;
  border-style: none;
}

.reset-password {
  height: 1rem;
  margin-bottom: 2.5rem;
  font-size: 0.875rem;
  font-weight: normal;
  font-style: normal;
}

.login-form-wrapper {
  margin-bottom: 2.5rem;
}

.signin-icons {
  margin-bottom: 2rem;
}

.signin-icons p {
  font-size: 0.813rem;
}

.icons {
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 8rem;
}

#facebook-icon {
  width: 3.25rem;
  height: 3rem;
}

#google-icon {
  width: 3.25rem;
  height: 3rem;
}

.top-divider {
  background-color: #5594ef;
  margin-bottom: 1.5rem;
  width: 2rem;
  height: 0.25rem;
}
